body {
  background-color: #f3ecd9;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img.logo {
  max-width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.produtos {
  color: black;
}

.produto {
  display: flex;
  align-items: center;
  background-color: white; /* ou algo claro para destacar */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  margin: 10px 0;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.produto img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 12px;
}
